@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --theme : #27374D;
}
.bg-blue{
  background: var(--theme)!important;
}
.border-blue{
  border: 1px solid var(--theme)!important;
}
.text-blue{
  color: var(--theme)!important;
}
.active{
  color: #fff !important;
  background: var(--theme)!important;
  border-bottom: 2px solid #fff !important;
}

.socialTitle{
  color: var(--theme) !important;
  text-decoration: none;
  font-weight: 600;
}