.dropdown-menu{
    border-radius: 0 !important;
    padding: 0 !important;
    border: 1px solid var(--theme) !important;
    margin-bottom: 20px !important;
}

.dropdown-item:hover{
    background: var(--theme) !important;
    color: #fff !important;
}
